
<div class="wrapper">





    <div class="about-me-lines">

        <div class="about-me-text">
            <h1 class="text-center">Who am I?</h1>
            <p>
                <br />
                &emsp;  I am a 29 years old, brazilian Nerd.
                &emsp;  I've been in love with nerd culture since i got my first SNES at my 5th anniversary.
                Just recently on august of 2021, I decided to really focus on something I was passionate
                about since I was 12 years old.
                I was going to learn how to code, how to build programs, learn how to automate stuff in my computer,
                so I began a coursera's course, done in partnership with Google, the name was <a href="https://www.coursera.org/professional-certificates/google-it-automation"> Google It Automation</a>
                if I remember correctly. It was supposed to be a 12-16 weeks course, and i tried to complete in 30 days
                because coursera charged monthly fees and I didn't want to pay more than 1 month.

            </p>
            <p>
                &emsp;  Working on this course during my day job(My Family owns a store, where i am Manager/Salesperson/Do whatever needs to be done)
                I was going at a good pace, not keeping up with the "finish this in 30 days"" pace, but I was getting there.
                I had a little knowledge of scripting from botting (creating automated scripts to play for me) in games when I was a kid, but no real experience
                with anything more complex than a "for loop"/"while loop"/ "if/else statements". When I was almost done with the course
                had a good grip on the sintax of python, was learning to use Tkinter to develop some application with an interface
                and was almost ready to start developing something usefull, a friend said to me "You should Learn C#, it is way better than python..."
                Well, he is a programmer, is working in the field for years, if he says this is the best for me, I should believe in him.

            </p>
        </div>


        <image class="about-me-images" src="/lib/Images/MyPhoto.jpg"></image>

    </div>

    <div>
        <h5> Commiting to C#</h5>
        <p>
            <br />
            &emsp;  One week of research later, I was decided to commit to C#.<br />
            &emsp; After 1 month spent learning Python, I would abandon it,
            and there I was again... at step 0... learning C# sintax and let me tell you, it wasn't easier,oh no, it was WAY harder.
            My friend forgot to inform me that it would be easier in larger projects, with good architecture and
            knowledge of the Framework, but for me who was learning now that "Print(x)" had become "Console.WriteLine("x");" it wasn't easier.
            <br />
            <br />
        </p>
        <p>
            &emsp;  Now I entered the worst phase i had so far, here my confidence plummeted, I had to re-learn how to do stuff I had spent a month learning.
            This was brutal, i had troubles with sintax, OOP, had to learn a lot of stuff that python didn't required me to
            but in the end, even with all the adversity, i discovered that re-learning some concepts in another language is way easier than learning it the first time,
            so it took me only 2 weeks to be better at C# than I was with Python when I dropped it, and it didn't mean much on the road of progress,
            because then i saw that i hadn't learnt a lot. Sintax is the baby step, the "getting your feet wet before jumping", now i had to learn OOP, and so I did...

        </p>
    </div>
    <div>
        <image class="about-me-images" src="/lib/Images/Logo.png"></image>
    </div>
    <div>

        <br />
        <br />
        <br />
        <h4>
            Now i had the knowledge and tooling necessary to start my personal projects.
        </h4>
        <p>
            <br />
            &emsp; First Project - A Console Application WITH an UI (never done this before), to measure how fast you can read. I only knew about 1 site
            with this tool, and the text was in english, so my friends couldn't read it. So i began to learn WinForms, banged my head
            on StackOverflow's walls of text to learn how to count words in a text, and found a solution, it wasn't the best solution, but i could understand what it was doing
            so i could work with it, and then, my first app, with an ui, that accepts a .txt OR you could just paste or write the text, press Start
            and when you finishied you press Stop, and it would say the text's lenght, the time it took you, and how many words per minute you can read.
        </p>
        <p>
            &emsp;   The Second Project - This one was harder, i had a problem that i wanted to solve, i was trying to print "Decks" of cards, that came in a single JPEG sheet.
            I Found a tool online that i could use to splice the image in x coluns and y rows, but it had limits, so i decided to build my own. Implementing nested For Loops, learning how to work with NugetPackageManager
            using a new library, i could now get a single Image, and splice it in any number of small images of equal size cut in a grid, i had my Card Stamper.
        </p>
        <p>
            &emsp;     After those 2 projects my friend came to me and said "Now, learn ASP.Net Core, MVC, SQL...", I took a look at that and saw that what i had learn't was just the tip of the iceberg,
            so I took off to the internet, finding free courses, tutorial, follow alongs, documentation on docs.microsoft, W3Schools, etc...
            and now i am here. Readying a Portfolio, learning new stuff everyday, at a pace I thought was impossible, and having the time of my life.
            In the end I found out that I LOVE programming, I LOVE coding, I LOVE learning this stuff.
        </p>
        <p>
            &emsp;     Unfortunately, in October, i had to stop learning how to code, to get certified as a shooting instructor in a regional test done by our federal police. I passed, and now i can atest to other's habilities to own a gun,
            i can lecture and teach about safety, maintenance, shooting, etc... and just after new years I could resume my path at programming.
            &emsp;   <br />
            &emsp;This will be my testament to my progress, everything on this site was done in my first 2 months, in another 2 months, i know i will be able to do MUCH more, but this will stay as is, so i can remember where i came from.

        </p>
    </div>



</div>