div>

    <h1>Who am I?</h1>
    <p>
        I am a 29 years old, brazilian Nerd. <br />
        I've been in love with nerd culture since i got my first SNES at my 5th anniversary.<br />
        Just recently (2021-08-01) i decided to really focus on something i was passionate 
        about since i was 12. <br>
        I decided i was going to learn to program, learn how to code, to automate stuff in computers, 
        so i took a coursera course in partnership with google, the name was <a href="https://www.coursera.org/professional-certificates/google-it-automation"> Google It Automation</a>
        if i remember correctly it was supposed to be a 12 weeks course, and i tried to complete in 30 days
        since coursera charged monthly fees and i didn't want to pay another month. <br />
              
    </p>
    <p>
        Working on this course during my day job(My Family owns a store, and i am Manager/Salesperson/Do whatever needs to be done)
        i was going at a good pace, not the finish this in 30 days pace i wanted, but i was getting there,
        i had a little knowledge of scripting from botting in games when i was a kid, but no real experience
        with anything more complex than a "for loop"/"while loop"/"if/ else statements". Nearing the end of the course
        when i had a good grip on the sintax of python, was learning to use Tkinter to develop some application with an interface
        and was finally to start developing something usefull, a friend came to me and said, "You should Learn C#, it is better and easier"... <br />
        Well, he is a programmer, and is working in the field for years, if he says this is the best for me, i should believe in him, so, i started researching, because i never do anything before a good week of research.
              
    </p>
    <p>
        After this week i was setled, i was going to change languages, after 1 month learning Python sintax
        i was again at step 1, learning c# sintax, and it wasn't easier, it was way harder.
        My friend forgot to voice that, it would be easier in large projects, with grown up architecture and 
        knowledge of the Framework, but for me who was learning now that "Print(x)" had become "Console.WriteLine("x");" it wasn't easier.
               
    </p>
    <p>
        Now I entered the worst phase i had so far, relearning how to do stuff i had spent a month learning. well, it wasn't a really
        dedicated month, so, i got the hang of c# in about 2 weeks, and had set my mind on building 2 projects i had envisioned.
    </p>
    <p>
        First Project - A Console Application WITH an UI (never done this before), to measure how fast can you read. I only knew about 1 site
        with this tool, and the text was in english, so my friends couldn't read it. So i took to learn WinForms, banged my head
        on StackOverflow's walls of text to learn how to count words in a text, and found a solution, it wasn't the best solution, but i could understand what it was doing
        so i could work with it, and then, my first app, with an ui, that accepts a .txt OR you could just paste or write the text, press Start
        and when you finishied you press Stop, and it would say the text's lenght, the time it took you, and how many words per minute you can read.
    </p>
    <p>
        The Second Project - This one was harder, i had a problem that i wanted to solve, i was trying to print "Decks" of cards, that came in a single JPEG sheet.
        I Found a tool online that i could use to splice the image in x coluns and y rows, but it had limits, so i decided to build my own. Implementing nested For Loops, learning how to work with NugetPackageManager
        using a new library, learning how to use Openfile and SaveFile dialog boxes, i could now get a single Image, and splice it in any number of small images of equal size cut in a grid, i had my Card Stamper.
    </p>
    <p>

    </p>
</div>
