<title>Home</title>



<div class="text-center mt-5 text-light">
    <h1 class="display-4 mt-3 fw-bold">Hello, I'm Rodrigo Travessa.</h1><br />
</div>

<div class="start-0 text-light">
    <h5>Who I am? </h5>
    <p>

        I am a self taught .NET Developer. <br />
        I am a challenge driven individual, who loves to learn and build things. <br />
        I can speak 2 languages fluently, Portuguese and English, and have some proficiency in Spanish. <br />
        I am a very fast learner, a bookworm and a nerd.
        <br />
    </p>
   <h5>Want to Know More About Me?</h5>
    <p>
        If you want to check some of my projects, check the navigation bar on the top of this page.<br />
        If you want to read a brief history of my learning path, check the <a asp-controller="Home" asp-action="AboutMe">About Me</a> section.
    </p>
</div>

