
<div class="text-center mt-5">
      
    
    <form method="post" class="d-flex">

        <input class="form-control" type="text" asp-controller="ImageSearch" asp-action="ImageSearchResults" id="searchTerm" name="searchTerm" placeholder="What do you want to see?"/>
        <button class="btn btn-secondary ms-2" type="submit" asp-controller="ImageSearch" asp-action="ImageSearchResults" > Search </button>

    </form>


</div>



