
<div class="text-center mt-5">

@using (Html.BeginForm("ImageSearchResults", "ImageSearch", FormMethod.Post))
{
    <input id="searchTerm" name="searchTerm" placeholder="search..." type="text" />
    <button id="botaoEnviar" type="submit">Enviar</button>
}
</div>