@model List<Result>

<div class="text-center mt-5">

    <form method="post" class="d-flex">

        <input class="form-control" type="text" asp-controller="ImageSearch" asp-action="ImageSearchResults" id="searchTerm" name="searchTerm" />
        <button class="btn btn-secondary ms-2" type="submit" asp-controller="ImageSearch" asp-action="ImageSearchResults"> Search </button>

    </form>


    <div class="mt-5">

        <div class="SearchImages-Wrapper">
            @{
                @foreach (var Image in @Model)
                {
                    <div>
                        <img style="border-radius:5%" src="@Image.urls.thumb" class="mt-3 mb-1 ms-1 me-1" />
                        <div style="align-self:end"> @Image.user.name ( @Image.likes )</div>
                    </div>
                }

            }
        </div>
    </div>

